In [1]:
import pandas as pd
import numpy as np

In [2]:
# read-in flights data
flights = pd.read_csv('2008.csv')

In [3]:
flights.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,926.0,930,1054.0,1100,WN,1746,...,3.0,7.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,NaN,0,2.0,0.0,0.0,0.0,32.0

In [4]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7009728 entries, 0 to 7009727
Data columns (total 29 columns):
Year                 int64
Month                int64
DayofMonth           int64
DayOfWeek            int64
DepTime              float64
CRSDepTime           int64
ArrTime              float64
CRSArrTime           int64
UniqueCarrier        object
FlightNum            int64
TailNum              object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin               object
Dest                 object
Distance             int64
TaxiIn               float64
TaxiOut              float64
Cancelled            int64
CancellationCode     object
Diverted             int64
CarrierDelay         float64
WeatherDelay         float64
NASDelay             float64
SecurityDelay        float64
LateAircraftDelay    float64
dtypes: float64(14), int64(10), object(5)
memory usage: 1.5+ GB

#### Check for missing values

In [5]:
# check for missing values in flights
flights.isnull().sum()

Year                       0
Month                      0
DayofMonth                 0
DayOfWeek                  0
DepTime               136246
CRSDepTime                 0
ArrTime               151649
CRSArrTime                 0
UniqueCarrier              0
FlightNum                  0
TailNum                83365
ActualElapsedTime     154699
CRSElapsedTime           844
AirTime               154699
ArrDelay              154699
DepDelay              136246
Origin                     0
Dest                       0
Distance                   0
TaxiIn                151649
TaxiOut               137058
Cancelled                  0
CancellationCode     6872294
Diverted                   0
CarrierDelay         5484993
WeatherDelay         5484993
NASDelay             5484993
SecurityDelay        5484993
LateAircraftDelay    5484993
dtype: int64

In [6]:
# fill missing values with 0
flights.fillna(0, axis=1, inplace=True)

In [7]:
# confirm fills
flights.isnull().sum()

Year                 0
Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
CRSDepTime           0
ArrTime              0
CRSArrTime           0
UniqueCarrier        0
FlightNum            0
TailNum              0
ActualElapsedTime    0
CRSElapsedTime       0
AirTime              0
ArrDelay             0
DepDelay             0
Origin               0
Dest                 0
Distance             0
TaxiIn               0
TaxiOut              0
Cancelled            0
CancellationCode     0
Diverted             0
CarrierDelay         0
WeatherDelay         0
NASDelay             0
SecurityDelay        0
LateAircraftDelay    0
dtype: int64

#### Convert to int

In [8]:
# convert DepTime, ArrTime, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, TaxiIn, TaxiOut, 
# CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay to int
to_int = {'DepTime': int, 'ArrTime':int,
          'ActualElapsedTime': int,'CRSElapsedTime': int,
          'AirTime': int,'ArrDelay': int,'DepDelay': int,
          'TaxiIn': int,'TaxiOut': int,
          'CarrierDelay': int, 'WeatherDelay': int,
          'NASDelay': int, 'SecurityDelay': int, 'LateAircraftDelay': int}
flights = flights.astype(to_int)

# Source: https://stackoverflow.com/questions/15891038/change-data-type-of-columns-in-pandas/28648923

#### Subset data for Origin or Dest == EWR, JFK, LGA

In [9]:
flights_sub = flights.query('Origin in ["EWR","JFK","LGA"] or Dest in ["EWR","JFK","LGA"]')

In [10]:
flights_sub.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 752852 entries, 94055 to 7009679
Data columns (total 29 columns):
Year                 752852 non-null int64
Month                752852 non-null int64
DayofMonth           752852 non-null int64
DayOfWeek            752852 non-null int64
DepTime              752852 non-null int64
CRSDepTime           752852 non-null int64
ArrTime              752852 non-null int64
CRSArrTime           752852 non-null int64
UniqueCarrier        752852 non-null object
FlightNum            752852 non-null int64
TailNum              752852 non-null object
ActualElapsedTime    752852 non-null int64
CRSElapsedTime       752852 non-null int64
AirTime              752852 non-null int64
ArrDelay             752852 non-null int64
DepDelay             752852 non-null int64
Origin               752852 non-null object
Dest                 752852 non-null object
Distance             752852 non-null int64
TaxiIn               752852 non-null int64
TaxiOut              752852 non-null int64
Cancelled            752852 non-null int64
CancellationCode     752852 non-null object
Diverted             752852 non-null int64
CarrierDelay         752852 non-null int64
WeatherDelay         752852 non-null int64
NASDelay             752852 non-null int64
SecurityDelay        752852 non-null int64
LateAircraftDelay    752852 non-null int64
dtypes: int64(24), object(5)
memory usage: 172.3+ MB

In [11]:
flights_sub.to_csv('2008_subset.csv', index=False)